<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Welcome to our chatbot</h2>

        <form action="/llama" method="post">
            <input type="submit" value="LLAMA">
        </form>

        <form action="/gemini" method="post">
            <input type="submit" value="GEMINI">
        </form>

        <form action="/paynow" method="post">
            <input type="submit" value="Transfer Money">
        </form>

        <form action="https://huggingface.co/spaces/cgl021/german_credit_app"
              method="get"
              target="_blank">
            <input type="submit" value="German Credit">
        </form>

        <form action="/main" method="post">
            <input type="submit" value="Main">
        </form>
    </div>
</body>
</html>





